/*
	Kevin BERTAUX - Huddle 2021
	Création		10/06/2021
	Modification	16/06/2021
*/

/* Appel des polices */

/* open-sans-regular - latin */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/open-sans-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/open-sans-v20-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local(''), url('../fonts/open-sans-v20-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/open-sans-v20-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('../fonts/open-sans-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/open-sans-v20-latin-700.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/poppins-v15-latin-regular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-italic - latin */

@font-face {
	font-family: 'Poppins';
	font-style: italic;
	font-weight: 400;
	src: local(''), url('../fonts/poppins-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/poppins-v15-latin-italic.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/poppins-v15-latin-600.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Set de couleurs */

:root {
	--title: #00252E;
	--text: #808E9A;
	--base: #fff;
	--cta: #FF52C1;
	--social: #DFE4F0;
	--nav-btn-shadow: #00000018;
	--hero-cta-shadow: #FF52C12A;
	--card-shadow: #0000001A;
	--card-cta-shadow: #00252E39;
}

/* Typographie */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: var(--text);
	background-color: var(--base);
}

h1, h2, .copyright {
	font-family: 'Poppins', sans-serif;
}

h1, h2 {
	font-weight: 600;
	color: var(--title);
}

h1 {
	font-size: 2.4rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	h1 {
		font-size: 4rem;
	}
}

h2 {
	font-size: 2rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	h2 {
		font-size: 2.8rem;
	}
}

a {
	text-decoration: none;
	color: var(--base);
}

a:hover{
	text-decoration: underline;
}

/* Layout */

.container {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.container {
		max-width: 128rem;
	}
}

.site-header {
	background-image: url(../images/hero_bg.svg);
}

/* Components */

.btn {
	font-size: 1rem;
	line-height: 1.357;
	font-weight: 700;
	display: inline-block;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.btn {
		font-size: 1.4rem;
	}
}

/* Banner */

.banner {
	display: flex;
	justify-content: space-between;
	margin-left: 1.6rem;
	margin-right: 1.6rem;
	align-items: center;
	padding-top: 2.4rem;
	margin-bottom: 8rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.banner {
		padding-top: 4.8rem;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 7.1rem;
	}
}

.logo {
	width: 10rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.logo {
		width: 20rem;
	}
}

.menu-link {
	color: var(--title);
	border-radius: 1.2rem;
	padding: .5rem 2.3rem;
	background-color: var(--base);
	box-shadow: 0px 2px 7px var(--nav-btn-shadow);
}

@media screen and (min-width: 36em) {
	/* 576px */
	.menu-link {
		border-radius: 2.4rem;
		padding: 1.5rem 6.5rem;
		box-shadow: 0px 3px 11px var(--nav-btn-shadow);
	}
}

/* Hero */

.hero-section {
	margin-bottom: 6rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.hero-section {
		margin-bottom: 16rem;
	}
}

.hero-section .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.hero-section .container {
		flex-direction: row;
	}
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-left: 4rem;
	margin-right: 4rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.hero {
		text-align: left;
		margin: 0;
	}
}

.main-title {
	margin-bottom: .85em;
}

.hero-desc {
	color: var(--title);
	font-size: 1.6rem;
	margin-bottom: 1.666em;
}

@media screen and (min-width: 36rem) {
	/* 576px */
	.hero-desc {
		font-size: 1.8rem;
	}
}

.cta-link {
	font-size: 1.2rem;
	color: var(--base);
	background-color: var(--cta);
	box-shadow: 2px 3px 6px var(--hero-cta-shadow);
	padding: 1.15rem 6rem;
	border-radius: 28px;
	margin-bottom: 5.6rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta-link {
		font-size: 1.4rem;
		padding: 1.85rem 7rem;
	}
}

.mockup {
	max-width: 29.6rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.mockup {
		min-width: 68rem;
	}
}

.mockup img {
	width: 100%;
	margin-bottom: 3.7rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.mockup img {
		margin-bottom: 7.2rem;
	}
}

/* Features */

.features {
	margin-bottom: 8rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.features {
		margin-bottom: 12rem;
	}
}

.feature-list {
	display: flex;
	flex-direction: column;
}

.feature-item {
	background-color: var(--base);
	box-shadow: 0px 0px 16px var(--card-shadow);
	height: 48.8rem;
	border-radius: 16px;
	margin-bottom: 4rem;
	margin-left: 2.4rem;
	margin-right: 2.4rem;
	text-align: center;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.feature-item {
		height: auto;
		text-align: left;
		display: flex;
		align-items: center;
		padding-left: 11rem;
		padding-right: 0;
	}
	.feature-item:nth-child(odd) {
		flex-direction: row-reverse;
	}
}

.feature-item img {
	width: 25.6rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.feature-item img {
		width: auto;
		padding-right: 15.5rem;
	}
	.feature-item:nth-child(odd) img {
		padding-left: 15.5rem;
		padding-right: 1.6rem;
	}
}

.feature-title {
	margin-bottom: .714em;
}

.feature-desc {
	font-size: 1.4rem;
	max-width: 25.6rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.feature-desc {
		font-size: 1.8rem;
		max-width: 50rem;
		margin-right: 1.3rem;
	}
}

/* Call to action */

.cta {
	width: 35rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -7.2rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta {
		width: 80rem;
		margin-bottom: -9.6rem;
	}
}

.cta .container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 16px var(--card-shadow);
	border-radius: 15px;
	background-color: var(--base);
}

.cta-title {
	font-size: 1.8rem;
	line-height: 1.667;
	margin-top: 4rem;
	margin-bottom: 2.4rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta-title {
		font-size: 3.2rem;
		line-height: 1.875;
		margin-top: 5.7rem;
		margin-bottom: 4.6rem;
	}
}

.cta-link-big {
	font-size: 1rem;
	padding: 1.3rem 5rem;
	box-shadow: 0px 3px 7px var(--card-cta-shadow);
	border-radius: 20px;
	margin-bottom: 5.2rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.cta-link-big {
		font-size: 2rem;
		padding: 2.6rem 10rem;
		box-shadow: 0px 6px 13px var(--card-cta-shadow);
		border-radius: 40px;
		margin-bottom: 5.2rem;
	}
}

/* Footer */

.site-footer {
	color: var(--base);
	padding-top: 14rem;
	background-color: var(--title);
}

@media screen and (min-width: 36em) {
	/* 576px */
	.site-footer {
		padding-top: 19.2rem;
	}
}

@media screen and (min-width: 36em) {
	/* 576px */
	.info {
		display: flex;
		justify-content: space-between;
	}
}

.address {
	width: 34rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.address {
		width: 38rem;
	}
}

.footer-logo {
	width: 16rem;
	margin-bottom: 2.5rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.footer-logo {
		width: 24rem;
		margin-bottom: 4.1rem;
	}
}

.place, .phone, .email {
	display: flex;
	margin-bottom: 3.2rem;
}

.place img {
	margin-right: 2.8rem;
	margin-bottom: 3rem;
}

.phone img, .email img {
	margin-right: 1.6rem;
}

.footer-nav {
	margin-top: 6.5rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.footer-nav {
		margin-top: 8.5rem;
	}
}

.footer-link-list {
	color: var(--base);
}

@media screen and (min-width: 36em) {
	/* 576px */
	.footer-link-list {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2.5rem 12.3rem;
		color: var(--base);
	}
}

.footer-link, .footer-link:hover, .footer-link:focus, .footer-link:visited {
	color: var(--base);
}

.footer-link-item {
	padding-bottom: 2.5rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.footer-link-item {
		padding-bottom: 0;
	}
}

.footer-link {
	font-size: 1.8rem;
}

.footer-link:hover {
	text-decoration: underline;
}

.social {
	margin-top: 3rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.social {
		margin-top: 7.8rem;
		margin-right: 13rem;
	}
}

.social-network-list {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.social-network-list {
		justify-content: start;
	}
}

.social-network-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.2rem;
	width: 3.2rem;
	border: 1px solid var(--social);
	border-radius: 50%;
	margin-right: 1.25rem;
}
.social-network-item:last-child {
	margin-right: 0;
}

.social-link img {
	height: 1.45rem;
}

.copyright {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	padding-top: 2.4rem;
	padding-bottom: 4.8rem;
}

@media screen and (min-width: 36em) {
	/* 576px */
	.copyright {
		justify-content: flex-end;
		padding-bottom: 6.4rem;
	}
}